.mainContainer
  display: flex
  width: 100%
  justify-content: space-between


.contentContainer
  height: 100vh
  width: 380px
  background: #fff
  box-shadow: 0 2px 77px rgba(132,146,166,.21)
  display: flex
  flex-direction: column
  align-items: center

.controls
  h2
    cursor: pointer

    &:hover
      background: green

.message
  margin-top: 10px