.mainContainer
  display: flex
  width: 100%
  justify-content: space-around
  font-family: "Roboto"


.contentContainer
  height: 100vh
  width: 380px
  background: #fff
  box-shadow: 0 2px 77px rgba(132,146,166,.21)
  display: flex
  flex-direction: column
  align-items: center


.controls
  h2
    cursor: pointer

    &:hover
      background: green


.triggerElement
  position: relative
  padding: 0 20px 0 20px
  height: 44px
  border: 1px solid #e0e6ed
  border-radius: 4px
  background: #fff
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  margin-top: 10px

.newTriggerContainer
  padding: 0 20px
  width: 200px
  height: 44px
  border: 1px dashed #8492a6
  border-radius: 4px
  color: #8492a6
  line-height: 42px
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  margin-top: 10px

  &:hover
    color: #0084FF
    border-color: #0084ff

.contentHeader
  background: #e0e6ed
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  height: 60px
  position: relative
  border: 1px solid transparent
  color: #3c4858
  text-overflow: ellipsis
  white-space: nowrap
  cursor: pointer
  font-size: 20px
  font-weight: 400
  line-height: 24px

.emptyContentContainer
  width: 100%
  display: flex
  justify-content: center
  align-items: center


.emptySideContainer
  width: 40%

.emptyMainContainer
  display: flex
  width: 100%
